<div id="error-404" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">404</div>

        <div class="message">Извините, но на странице, котрую вы ищите ничего нет</div>

        <div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="icon s-24">search</mat-icon>
            <input placeholder="Воспользуйтесь поиском" fxFlex>
        </div>

        <a class="back-link" [routerLink]="'/apps/dashboards/project'">Или вернитесь к началу</a>

    </div>

</div>
